<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show article </title>
</head>
<body>
   <h1><%= @article.title %></h1> 
   <p><%= @article.body %></p>
   <div>
    <%= link_to "Edit", edit_article_path(@article) %>

    <h2>Comments</h2>
    <%= render @article.comments %>

    <h2>Add comment</h2>
    <%= render "comments/form" %>
   </div>
</body>
</html>